/* Global styles*/

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lusitana', serif;
    background-color: #fff;
    min-height: 100%;
}

/* ToDo Make the the whole page look good on desktop */

/* Header */

header {
    z-index: 2;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.25rem;
    width: 100%;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    z-index: 1000;
}

.logo a {
    color: #fff;
    text-decoration: none; 
}

.mobile-nav-toggle {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
}

.nav-item {
    font-size: 1rem;
    text-decoration: none;
}

.nav-links {
    color: #fff;
    text-decoration: none; 
}

@media (max-width: 560px) {

    .mobile-nav-toggle {
        z-index: 1001;
        position: absolute;
        font-size: 1.5rem;
        font-weight: 400;
        display: block;
        background-color: transparent;
        color: #fff;
        border: 0;
        cursor: pointer;
        top: 1rem;
        right: 2rem;
    }

    .nav-menu {
        z-index: 1000;
        position: absolute;
        font-weight: 700;
        flex-direction: column;
        gap: 2rem;
        inset: 0 0 65% 0;
        background-color: black;
        transform: translateY(-100%);
        transition: transform 350ms ease-out;
    }

    .nav-menu[data-visible="true"] {
       transform: translate(0%);
    }

    .nav-item {
        font-size: 1.5rem;
    }
}     

/* Hero Section */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./imgs/jason-leem-50bzI1F6urA-unsplash\ \(1\)\ \(1\).jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 5rem 1rem;
}

.hero-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.75rem;
}

.hero-sub-text {
    display: none;
}

/* About Us */

/* Our Cause */

/* Take Action */

/* Footer */

/* Components */

.btn {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #000; /* Green */
    color: #fff;
    border: none;
    border-radius: .15rem;
    padding: 1rem 1.5rem;
}
