/* Global styles*/

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lusitana', serif;
    background-color: #fff;
}

header {
    z-index: 2;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    width: 100vw;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    z-index: 1000;
}

.logo a {
    color: #fff;
    text-decoration: none; 
}

.mobile-nav-toggle {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
}

.nav-item {
    font-size: 1rem;
    text-decoration: none;
}

.nav-links {
    color: #fff;
    text-decoration: none; 
}

@media (max-width: 560px) {

    .mobile-nav-toggle {
        z-index: 1001;
        position: absolute;
        font-size: 1.5rem;
        font-weight: 400;
        display: block;
        background-color: transparent;
        color: #fff;
        border: 0;
        cursor: pointer;
        top: 1rem;
        right: 2rem;
    }

    .nav-menu {
        z-index: 1000;
        position: absolute;
        font-weight: 700;
        flex-direction: column;
        gap: 2rem;
        inset: 0 0 65% 0;
        background-color: black;
        transform: translateY(-100%);
        transition: transform 350ms ease-out;
    }

    .nav-menu[data-visible="true"] {
       transform: translate(0%);
    }

    .nav-item {
        font-size: 1.5rem;
    }
}     